.AppRoot {
  width: 100%;
  max-width: 600px;
  margin: 80px auto;
  border: 1px solid #a5a5a5;
  border-radius: 8px;
  padding: 24px;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

.li {
  list-style: none;
  padding: 0;
}
